<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script>
function openNav() {
  document.getElementById("sidebar").style.width = "300px";
  document.getElementById("main").style.marginRight = "300px";
}

function closeNav() {
  document.getElementById("sidebar").style.width = "0";
  document.getElementById("main").style.marginRight= "0";
}
</script>
<script>

  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBo39ycSKLP-_RI0n_eiPSSx2UCRiQU4_4",
    authDomain: "yelpsearcher.firebaseapp.com",
    databaseURL: "https://yelpsearcher.firebaseio.com",
    projectId: "yelpsearcher",
    storageBucket: "yelpsearcher.appspot.com",
    messagingSenderId: "111554803751"
  };
  firebase.initializeApp(config);

var dbcontent = [];



function addToDB(name,url) {

    if(document.getElementById('users').value == 'newUser') {
        alert('Choose existing user or create one');
        return;
    }


    var loc= firebase.database().ref();

    firebase.database().ref().once('value',function(content) {
        dbcontent = [];
        var proNumbers = [];
        var objToAdd = {};
            content.forEach(function(loc){
            dbcontent.push([loc.val(),loc.key]);
            });
            for (i in dbcontent) {
                if(dbcontent[i][0].name==document.getElementById('users').value) {
                    for (var prop in dbcontent[i][0]) {
                        if(prop!="name" && prop!="intineraryName") {
                            if (url == dbcontent[i][0][prop].url){
                                alert('Location already in favourites');
                                return;
                            }
                            proNumbers.push(parseInt(prop.slice(4)));
                        }
                    }


                console.log(dbcontent[i][1]+'/item'+proNumbers.length);
                firebase.database().ref(dbcontent[i][1]+'/item'+proNumbers.length).set({ 
                        "url"  : url,
                        "name" : name
                    });
                alert('Added to favourites');
                }
            }




        
    });
    readData();
}

function createUser() {
    var loc= firebase.database().ref();

    firebase.database().ref().once('value',function(content) {
        dbcontent = [];

        content.forEach(function(loc){
        dbcontent.push(loc.val());
        });
        for (i in dbcontent) {
            if (dbcontent[i].name == document.getElementById('creatorName').value) {
                alert('Username already in use');
                return;
            } 
        }
        var JSONObj = {};
        JSONObj["name"] = document.getElementById('creatorName').value;


        firebase.database().ref().push(JSONObj, function(error) {
  if (error) {
    alert("Data could not be saved." + error);
  } else {
    alert("User created successfully.");

  }
});
location.reload();

 



    });
}


function readData (){  

    var loc=firebase.database().ref();

    firebase.database().ref().once('value',function(content) {
        dbcontent = [];
            content.forEach(function(loc){
            dbcontent.push(loc.val());
            });
            updateSelector(dbcontent,document.getElementById('users').value);
        }
    );
}

function updateSelector(arr,selected){

    $('#users').empty();
    var newOption;
        newOption=document.createElement("option");
        newOption.text='Select User';
        newOption.value ='newUser';
        document.getElementById('users').add(newOption); 

    for (i in arr){
        newOption=document.createElement("option");
        newOption.text=arr[i].name;
        newOption.value =arr[i].name;
        if(selected == arr[i].name) {
            newOption.selected=true;
        }
        document.getElementById('users').add(newOption);  
    }
    updateSidebar();
}    

function updateSidebar() {
    var loc=firebase.database().ref();

    firebase.database().ref().once('value',function(content) {
        dbcontent = [];
            content.forEach(function(loc){
            dbcontent.push(loc.val());
            });
            for (i in dbcontent) {

                if(dbcontent[i].name==document.getElementById('users').value) {

                    var outputStr = '';
                    for(var prop in dbcontent[i]) {
                        if(prop!="name" && prop!="intineraryName") {

                            outputStr = outputStr + `
                            <div>
                            <h3><a href='${dbcontent[i][prop].url}' > ${dbcontent[i][prop].name} </a> </h3>  
                            <br>
                            </div>
                            `
                        }
                    }
                    outputStr = `<h2 style="text-align:center">Your favourites</h2><br><br>
                      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>`+ outputStr;
                    document.getElementById('sidebar').innerHTML = outputStr;
                }
            }
        }
    );

}        

function addToFav (name,url) {
    var obj = { 
        "name" : name,
        "url" : url
    }
    arr.push(obj);
    document.getElementById('stringHolder').value = JSON.stringify(arr);
    readData();
}

readData();
</script>

<style>
#header{
    text-align: center;
    padding-top: 40px;
    width: 100%;
    background-color: #54a0ff;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.favorite_button{
    background-color: white !important;
    color: #54a0ff;
}
button{
    background-color: white;
    border: 1px solid #54a0ff;
}
button:hover{
    background-color: #54a0ff !important;
    color: white;
}
.results{
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: calc(25% - 40px);
    margin: 20px;
    border: 1px solid rgb(206, 206, 206);
    padding: 20px;
    background: #f7f7f7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 8px;
}
.results:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.title{
    font-size: 20px;
}


#intructions{
    padding: 20px;
    background-color: #1dd1a1;
}
/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #85ecd1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -webkit-box-shadow: -5px 0 5px -2px #888;
          box-shadow: -5px 0 5px -2px #888;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<div id="main">

<div id = 'intructions'>
<p><strong>Instructions: </strong>Search for any type of business e.g. bar, italian restaurant, etc... in any location to see the top twenty results below. Add yourself as a user by typing your username in the user input box below. See your own and other users' favorite locations by selecting their username from the dropdown menu and clicking on "Show my favourites"</p>
</div>

<div id="header">
<form method="POST">
    <h2>Yelp Searcher</h2>
<br>
<input id="inputBox" name="inputBox" placeholder="Type of business" />
<input id="inputBoxLocation" name="inputBoxLocation" placeholder="City" />
<button type="submit">Search</button>
<input type="hidden" value="" id="stringHolder" name="stringHolder" />

</form>




<br>
    <input id="creatorName" placeholder="Your Name"/>
    <button onclick="createUser()">Create User</button><br>
<select id="users" onchange="readData();">
 

</select> <br>
<br>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()"> Show favourites</span>

<br>
</div>

<br>





{{#each items}}
<div class="results">
<div><a class="title" href="{{url}}" target="_blank">{{name}} </a></div>
<a href="{{url}}" target="_blank"><img height="150px" width="150px" src="{{image_url}}"></a>
<p><i class="fas fa-phone"></i><a href="tel:'{{phone}}'">{{phone}}</a> </p>
<button class='favorite_button' onclick="addToDB('{{name}}','{{url}}');" ><i class="fas fa-heart"></i> Favorite</button>
</div>
{{/each}}



<div id='sidebar' class="sidenav">


</div>
</div>

